@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dsvgkz');
  src:  url('fonts/icomoon.eot?dsvgkz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dsvgkz') format('truetype'),
    url('fonts/icomoon.woff?dsvgkz') format('woff'),
    url('fonts/icomoon.svg?dsvgkz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-images:before {
  content: "\e90e";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location2:before {
  content: "\e948";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-search:before {
  content: "\e986";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-github:before {
  content: "\eab0";
}
