.container {
    width: 100%;
    margin: 0px auto;
    padding: 40px 0px;
    background-color: silver;
    font-size: 18px;
    font-weight: 800;

    .loading {
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        margin: 202px 0px;
    }

    .table, .table__tr, .table__td {
        border: 2px solid silver;
        border-collapse: collapse;
        padding: 10px;
        margin: 0px auto;
        background-color: #fff;
    }

    .table__th {
        background-color: #d33a1d;
    }

    .table__td {
        max-height: 30px;
        line-height: 30px;
    }

    .table__img {
        width: 30px;
        float: left;
        line-height: 50px;
        margin-right: 6px;
    }

    .table__th, .table__tr, .table__td {
        padding: 10px 40px;
    }
}