.teams-box {
    background-color: silver;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0px;
}

.loading {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin: 202px 0px;
}