.loading {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin: 202px 0px;
}

.plantilla-box {
    background-color: silver;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0px;

.card {
    width: 20%;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 20px 20px;
    padding: 22px 0px;
    box-shadow: 8px 14px 6px rgb(54, 52, 52);
    cursor: pointer;

    .card__name {
        margin-bottom: 20px;
    }

    .box-logo {
        width: 80%;
        margin: 10px auto;
        .card__logo {
            max-width: 100%;
        }
    } 

    .card__button {
        padding: 4px 10px;
        margin-top: 12px;
        background-color: black;
        color: white;
        border: 0px;
        cursor: pointer;
    }

    .card__button:hover {
        font-weight: 700;
    }
}
}