.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 40px auto;
    padding: 20px 0px;
    background-color: silver;

    .titulo {
        margin-bottom: 10px;
    }

    .form__input {
        margin-top: 4px;
        margin-bottom: 20px;
    }

    .form__button {
        width: 40%;
        margin: 0px auto;
        padding: 6px 10px;
        background-color: #000;
        border: 0px;
        color: white;
        font-weight: 700;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out;
    }
    .form__button:hover {
        background-color: white;
        color: black;
        border: 2px solid black;
    }
}