.home {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/638/594/484/marco-reus-borussia-dortmund-soccer-bvb-wallpaper-preview.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    .box {
        margin: 0px auto;
        display: flex;
        justify-content: space-between;

        .box-img{
            flex: 1;
            width: 30%;
            .box__img {
                width: 90%;
                margin: 0px;
                margin: 40px auto;
            }
        }
        .box-form {
            flex: 1;   
        }
    }
}