.header {
    padding: 0px 20px;
    background-color: #d33a1d;
    display: flex;

    .logo {
        display: flex;
        flex: 1;
        text-align: left;

        .logo__img {
            width: 22%;
        }
        .logo__titulo {
            display: flex;
            align-items: center;
            font-size: 46px;
            color: #fff;
        }
    }

    .menu {
        flex: 1;
        align-self: center;
        .menu__ul {
            display: flex;
            list-style: none;
            color: #fff;
            justify-content: flex-end;
            margin-right: 20px;

            .form__button {
                padding: 4px 8px;
                border: 0px;
                background-color: transparent;
                color: white;
                font-size: 14px;
                background-color: black;
                font-weight: 900;
                cursor: pointer;
                -webkit-transition: all .3s ease-in-out;
            }
            .form__button:hover {
                padding: 6px 10px;
                font-size: 15px;
            }

            .menu__li {
                margin: 0px 10px;
                cursor: pointer;
                font-weight: 900;
                -webkit-transition: all .3s ease-in-out;
                .link {
                    text-decoration: none;
                    color: #fff;
                }
                .link:hover {
                    color: #000;
                }
            }
            .menu__li:hover {
                font-size: 17.5px;
                color: #000;
            }
        }
    }
}