.footer {
    background-color: #242020;
    display: flex;
    flex-direction: row;
    align-self: center;
    color: #fff;
    font-weight: 600;

    .logo {
        flex: 1;
    }
    .copyright {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icons {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding: 4px;

        .icon {
            margin: 4px;
            margin-left: 160px;
        }
    }
}