.news {
background-color: silver;
padding: 40px 0px;

.news-box {
    width: 86%;
    background-color: #fff;
    color: #000;
    text-align: center;
    margin: 0px auto;
    padding: 20px 0px;
    box-shadow: 8px 14px 6px rgb(54, 52, 52);

    .news__encabezado{
        font-size: 34px;
        width: 90%;
        margin: 10px auto;
    }

    .news__foto {

        .foto {
            width: 70%;
        }
    }

    .news__description {
        font-size: 20px;
        width: 70%;
        margin: 10px auto;
        margin-top: 40px;
        text-align: justify;
    }

    .box-description2 {
        width: 70%;
        margin: 0px auto;
        display: flex;
        padding: 20px;

        .description__img {
            width: 70%;
            margin: 10px 0px;
            margin-right: 20px;
        }
    }
}
}